.container {
  border: solid 1px #ccc;
  padding: 16px;
  margin: 8px;
}

li > div {
  display: flex;
  align-items: center;

}

button {
  margin-left: 16px;
}

#add-text {
  margin-left: 8px;
}

#title {
  margin-left: 8px;
}